@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@1,300&display=swap');
@import url('http://fonts.cdnfonts.com/css/script-mt');
$fontTitle: "Script MT";
$fonth2: "Poppins";
$fontStyle: "normal";
$fontText: "Open Sans";
$fontWT: 600;
$fontWTT: 600;
$fontSizeText: 16px;
$fontHeaders: 18px;
$fontSTitle: 1.5rem;
$fontSNav: 1.2rem;