@import "./variables";
@import "./mixin";
.container{
    width: 100%;
    height: 105px;
    background-color: #fff;
    .con {
        @include curr;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            width: 100%;
            span {
                width: 100%;
                text-align: right;
                font-family: $fontTitle;
                float: right;
            }
        }
    }
}