.container {
    width: 100%;
    min-height: 600px;
    max-height: 100%;
    .con {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        grid-gap: 5px;
        div{
            width: auto;
            height: 100%;
            .imageContainer {
                width: auto;
                height: auto;
                margin: 0;
                
            }
        }
    }
}